.template {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: min(100%, px-to-rem(800));
  width: min(100%, px-to-rem(1280));
  border: 2px solid black;
}
