$col: 12;
$row: 12;
$row-empty: repeat-str('. ', $col);

.combat {
  @debug $col;
  @include make-grid($col, $col);
  grid-template-areas:
    'timeline-s . . . . . . . . . . timeline-e'
    $row-empty
    'enemies-s . . . . . . . . . . enemies-e'
    'enemies-s . . . . . . . . . . enemies-e'
    'enemies-s . . . . . . . . . . enemies-e'
    $row-empty
    $row-empty
    $row-empty
    $row-empty
    $row-empty
    'heroes-s . . . . . . . . . . heroes-e'
    'heroes-s . . . . . . . . . . heroes-e';
  width: 100%;
  height: 100%;
  background-color: white;

  & > .timeline {
    grid-area: timeline-s / 1 / timeline-e / -1;
  }

  & > .enemiesWrapper {
    grid-area: enemies-s / 1 / enemies-e / -1;
  }

  & > .actionMenu {
    grid-area: 3 / 1 / 9 / 13;
  }

  & > .targetMenu {
    grid-area: 3 / 1 / 13 / 13;
  }

  & > .heroCardsWrapper {
    grid-area: heroes-s / 1 / heroes-e / -1;
  }
}
