$col: 12;
$row: 12;

$row-1: repeat-str('timeline ', $col);
$row-2: repeat-str('. ', $col);
$row-3: repeat-str('enemies ', $col);
$row-4: repeat-str('enemies ', $col);
$row-5: repeat-str('enemies ', $col);
$row-6: repeat-str('. ', $col);
$row-7: repeat-str('. ', $col);
$row-8: repeat-str('. ', $col);
$row-9: repeat-str('. ', $col);
$row-10: repeat-str('. ', $col);
$row-11: repeat-str('heroes ', $col);
$row-12: repeat-str('heroes ', $col);

.combat {
  @debug $col;
  @include make-grid($col, $col);
  grid-template-areas:
    $row-1
    $row-2
    $row-3
    $row-4
    $row-5
    $row-6
    $row-7
    $row-8
    $row-9
    $row-10
    $row-11
    $row-12;
  width: 100%;
  height: 100%;
  background-color: white;

  & > .timeline {
    grid-area: timeline;
  }

  & > .enemiesWrapper {
    grid-area: enemies;
  }

  & > .heroCardsWrapper {
    grid-area: heroes;
  }
}
